@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
    /* Ganti './fonts/satoshi.ttf' dengan path yang sesuai ke file font di proyek Anda */
}

@layer utilities {
    .shadow-blue-primary {
      box-shadow: 5px 5px 0 theme('colors.blue-primary');
    }
    .size-indrive {
      width: 100%;
      height: auto; /* This maintains the aspect ratio */
    }
    
    .uniform-size {
      width: 600px; /* Set a fixed width */
      height: 400px; /* Set a fixed height */
      object-fit: cover; /* Ensure the image covers the set dimensions while maintaining aspect ratio */
    }
    
    /* Tambahkan ini di file CSS Anda */
}

@media (min-width: 768px) {
  .no-bg-desktop {
    background: none !important;
  }
}